.sunny_header_logo{
    margin: 2rem 0;
    font-family: 'Encode Sans SC', sans-serif;
}

.sunny_header_button {
    margin-bottom: 2rem;
}

.sunny_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Encode Sans SC', sans-serif;
}

.sunny_footer_button {
    margin-top: 2rem;
}